<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SMDRDataUri" value="https://62.219.46.90:667/smdr_data.slk.gz" />
    <add key="LoginUri" value="https://62.219.46.90:667/a_index.html" />
    <add key="LoginUsername" value="admin" />
    <add key="LoginPassword" value="Voice014" />
    <add key="IsDebug" value="true" />
    <add key="DebugSMDRFile" value="C:\Users\ramis\Downloads\smdr_data (5).slk.gz" />

    <add key="Group_621" value="Sales" />
    <add key="Group_623" value="Service" />
  </appSettings>
</configuration>